<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
</head>

<h1 style="font-family: 'Inter';">Cuenta Usuario</h1>

<!--Información-->
<div class="mt-4" id="divInformacion">
    <h3>Información</h3>
    
    <!--Nombre-->
    <div class="row mt-4">
        <div class="col-2">
            <h5 style="font-family: 'Inter';">Nombre</h5>
        </div>
        <div class="col-10">
            <div class="rounded-pill bg-azure-web" id="nombreUsuario" >Gener Alejando Echeverria Chi</div>
        </div>
    </div>
    
    <!--Correo electrónico-->
    <div class="row mt-4">
        <div class="col-2">
            <h5 style="font-family: 'Inter';">Correo electrónico</h5>
        </div>
        <div class="col-10">
            <div class="rounded-pill bg-azure-web" id="correoUsuario">generecheverria@gmail.com</div>
        </div>
    </div>
    
    <!--Teléfono-->
    <div class="row mt-4">
        <div class="col-2">
            <h5 style="font-family: 'Inter';">Teléfono</h5>
        </div>
        <div class="col-10">
            <div class="rounded-pill bg-azure-web" id="correoUsuario">generecheverria@gmail.com</div>
        </div>
    </div>
    
    <!--Foto de perfil-->
    <div class="row mt-4">
        <div class="col-2">
            <h5 style="font-family: 'Inter';">Foto de perfil</h5>
        </div>
        <div class="col-10">
            <div class="border border-2 border-azure-web" id="correoUsuario"></div>
        </div>
    </div>    
</div>

<!--Lista de sitios-->
<div class="mt-5 row" id="divListaSitios">
    <div class="col-7">
        <h3>Lista de sitios</h3>
        <table class="table bg-azure-web table-striped mt-4">
            <thead>
              <tr>
                <th class="fw-bold">Nombre</th>
                <th class="fw-bold">Visitas</th>
                <th class="fw-bold">Fecha de creación</th>
                <th class="fw-bold">Última edición</th>
                <th class="fw-bold">URL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Gener Echeverria</td>
                <td>1000</td>
                <td>12-02-22</td>
                <td>12-02-23</td>
                <td>/gerberino.com</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<!--Estado-->
<div class="mt-5" id="divListaSitios">
    <h3>Estado</h3>
    <div class="row  mt-4">
        <div class="col-3">
            <label for="estado">Estado:</label>
            <select class="form-select rounded-pill bg-azure-web" id="estado">
                <option value="activada">Activada</option>
                <option value="desactivada">Desactivada</option>
            </select>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-end">
            <button type="button" class="btn btn-primary rounded-pill w-25 text-white">Guardar</button>
          </div>  
    </div>
</div>

<!--Eliminar cuenta-->
<div class="mt-5" id="divEliminarCuenta">
    <h3>Eliminar cuenta</h3>
    <div class="row mt-4">
        <div class="col-3">
            <div class="form-check form-check-inline">
                <label class="form-check-label align-self-center" for="confirmar">Confirmar</label>
                <input class="form-check-input" type="checkbox" id="confirmar">
            </div>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-end">
            <button type="button" class="btn btn-primary rounded-pill w-25 text-white">Eliminar</button>
        </div>
    </div>
</div>

