<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
</head>
<div class="row" id="cajaExterior">
    <div class="col-3"></div>
    <div class="col-6 border border-azure-web">
        <div class="row">
            <div class="col-6 d-flex flex-column justify-content-center bg-primary">
                <img src="../../../assets/images/albaficas.jpg" class=" px-3 mt-3 w-75"/>
                <p class="text-white p-3 fs-6" style="font-family: 'Inter';">¡Bienvenido al sitio Albaficas! Nos complace que hayas decidido visitarnos. Para acceder a nuestro contenido exclusivo y disfrutar de todas las funciones del sitio, por favor inicie sesión con su cuenta. ¡Gracias por estar aquí!</p>
            </div>
            <div class="col-6 ps-4">
                <form  class="mb-4">
                    <h4 class="mt-4 fw-bold" style="font-family: 'Inter';">Iniciar sesión</h4>
                    <div class="mb-3 mt-4">
                        <label for="correo-login" style="font-family: 'Inter';">Correo electrónico:</label>
                        <input type="email" class="form-control rounded-pill bg-azure-web" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3 mt-4">
                        <label for="contrasenia-login" style="font-family: 'Inter';">Contraseña:</label>
                        <input type="password" class="form-control rounded-pill bg-azure-web" id="exampleInputPassword1">
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="btn btn-primary rounded-pill w-50 text-white" style="font-family: 'Inter';">Ingresar</button>
                    </div>  
                </form>
                <p class="mt-5" style="font-family: 'Inter';">¿No tienes cuenta? <span ><a href="" id="registrar-url" style="font-family: 'Inter';">Registrate aquí</a></span></p>
                
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>