<h1>Usuarios</h1>
<h2>Lista de Usuarios</h2>
<table id="example" class="table table-striped table-hover table-bordered" style="width: 100%">
    <thead>
      <tr>
        <th>Nombre</th>
        <th># Sitios</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of saUsuarios">
        <td>{{ usuario.name }}</td>
        <td>{{ usuario.siteCount }}</td>
        <td>Activo</td>
      <td><button type="button" class="btn btn-primary rounded-pill text-white">Ver sitio</button></td>
      </tr>
    </tbody>
  </table>
