<h1>Usuarios</h1>
<table class="table table-striped table-hover table-bordered" style="width: 100%">
  <thead>
    <tr>
      <th>Usuario</th>
      <th># de sitios</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Gerber Echeverria</td>
      <td>3</td>
      <td>Activo</td>
      <td><button type="button" class="btn btn-primary rounded-pill text-white">Ver sitio</button></td>
    </tr>
    <tr>
      <td>Usuario 2</td>
      <td>5</td>
      <td>Inactivo</td>
      <td><button type="button" class="btn btn-primary rounded-pill text-white">Ver sitio</button></td>
    </tr>
    <tr>
      <td>Usuario 3</td>
      <td>2</td>
      <td>Activo</td>
      <td><button type="button" class="btn btn-primary rounded-pill text-white">Ver sitio</button></td>
    </tr>
  </tbody>
</table>
