<form [formGroup]="bodyElementForm">
  <form [ngSwitch]="mediaType" >
    <div class="border p-3 mb-1">
      <div
        class="d-flex justify-content-center align-items-baseline"
      >
        <h5 class="fs-6">Columna completa</h5>
        <button
          class="btn"
          type="button"
          (click)="deleteBodyElement(arrayIndex)"
        >
          <i class="bi bi-trash text-danger"></i>
        </button>
        <app-text 
            *ngSwitchCase="'Text'"
        ></app-text>
        <form action="" formGroupName="text">

            <input type="text" formControlName="textTitle">
        </form>
      </div>
    </div>
  </form>

  <form *ngIf="!isFull" >
    <div class="border p-3 mb-1">
      <div class="text-center">
        <h5 class="fs-6">Columna dividida</h5>
        <button
          class="btn col-1"
          type="button"
          (click)="deleteBodyElement(arrayIndex)"
        >
          <i class="bi bi-trash text-danger"></i>
        </button>
      </div>

      <input type="text" formControlName="dato" />
    </div>
  </form>
</form>
