<form [formGroup]="bodyElementForm">
  <form [ngSwitch]="mediaType">
    <div class="border p-3 mb-1">
      <div class="d-flex justify-content-between align-items-baseline">
        <p class="fs-6 fw-light">Columna completa</p>
        <button
          class="btn"
          type="button"
          (click)="deleteBodyElement(arrayIndex)"
        >
          <i class="bi bi-trash text-danger"></i>
        </button>
      </div>
      <app-text *ngSwitchCase="'Text'"></app-text>
      <app-image *ngSwitchCase="'Image'"></app-image>
    </div>
  </form>

  <form *ngIf="!isFull">
    <div class="border p-3 mb-1">
      <div class="text-center">
        <h5 class="fs-6 fw-light">Columna dividida</h5>
        <button
          class="btn col-1"
          type="button"
          (click)="deleteBodyElement(arrayIndex)"
        >
          <i class="bi bi-trash text-danger"></i>
        </button>
      </div>

      <input type="text" formControlName="dato" />
    </div>
  </form>
</form>
